<header>
  <div>$ (USD) to UAH: {{ usdRate }}</div>
  <div>€ (EUR) to UAH: {{ eurRate }}</div>
  <div>zł (PLN) to UAH: {{ plnRate }}</div>
</header>

<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>

<div class="currency-input">
  <input type="number" [(ngModel)]="amount1" (input)="convertCurrency()">
  <select [(ngModel)]="currency1" (change)="convertCurrency()">
    <option value="UAH">₴ UAH</option>
    <option value="USD">$ USD</option>
    <option value="EUR">€ EUR</option>
    <option value="PLN">zł PLN</option>
  </select>
</div>

<div class="currency-input">
  <input type="number" [(ngModel)]="amount2" (input)="convertCurrency()">
  <select [(ngModel)]="currency2" (change)="convertCurrency()">
    <option value="UAH">₴ UAH</option>
    <option value="USD">$ USD</option>
    <option value="EUR">€ EUR</option>
    <option value="PLN">zł PLN</option>
  </select>
</div>

<div class="center-button">
  <button (click)="swapCurrencies()">Swap Currencies</button>
</div>




